{% extends "base_template.html" %}

{% block title %}Upload{% endblock %}

{% block content %}
<div class="form_upload">
<form action="/visualize" method="POST" enctype="multipart/form-data">
      <label>Select file</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="file" id="file">
      </div>
      <select name="delim">
        <option selected value="0"> Elige un delimitador </option>
          <option value="1">;</option> 
          <option value="2">,</option>
          <option value="3">|</option> 
        </optgroup> 
      </select>
      <button type="submit" class="bt">Cargar mapa</button>
</div>

{% endblock %}