<!DOCTYPE html>
<head>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://github.com/patrickarlt/leaflet-virtual-grid/blob/master/src/virtual-grid.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>
	<h1 class="title">Mapa de posiciones</h1>
	<h3 id="subtitulo"></h3>
	
	<div id="my-map"></div>
</body>
<script type=text/javascript src="{{ url_for('static', filename='js/leafletmap.js') }}"></script>

</html>