* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

#my-map {
	width:960px;
	height:500px;
}

header {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	background-color: #000000;
}

header > div.container {
	width: calc(100% - 32px);
	max-width: 1248px;
	margin: 0 auto;
	padding: 0 16px;
	overflow: hidden;
}

header > div.container > h1 {
	color: #ffffff;
	float: left;
	padding: 24px 0;
	font-size: 48px;
}

header > div.container > nav {
	float: right;
	margin-top: 32px;
}
header > div.container > nav > span {
	 color: #ffffff;
 	font-size: 32px;
 }

body {
	background-color: aqua;
}

body > div.main {
	padding: 10% 25% 0% 25%;
	background-color: #ffffff;
	width: 200px;
	height: 200px;
 }