<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  <header>
      <div class="container">
          <h1>Plot it!</h1>
          <nav>
            <span>About US</span>
          </nav>
      </div>
  </header>
    <div class="header">
        <h1></h1>
    </div>
    <div class="main">
            {% block content %}{% endblock %}
    </div>

</body>
</html>
